.toggleButton {
    display: flex;
    font-size: 30px;
    left: 20px;
    top: 20px;
    z-index: 100;
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Hide by default, will be displayed in smaller screens */
  }
  
  .sidebar {
    top: 0;
    left: -100%; /* Start off-screen */
    width: 200px;
    height: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    transition: left 0.3s ease;
  }
  
  .active {
    left: 0; /* Slide in */
  }
  
  .categoriesList {
    list-style: none;
    padding: 0;
  }
  
  .categoryItem {
    margin-bottom: 10px;
    transition: background-color 0.3s; 
    cursor: pointer;
  }
  
  .categoryItem a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
    padding: 10px; 
    border-radius: 4px; 
  }
  
  .categoryItem a:hover {
    background-color: #ddd; /* Slight background color on hover */
  }
  
  .categoryHeader {
    text-align: center;
    border-bottom: 2px solid black; /* Underline */
    padding-bottom: 10px; /* Spacing below the text */
    margin-bottom: 20px; /* Additional space below the header */
  }
  @media (max-width: 768px) {
    .sidebar {
    transition: left 0.3s ease; 
    position: fixed; /* Position the sidebar fixed on the screen */
    width: 200px; /* Set a fixed width for the sidebar */
    height: 100%; /* Full height */
    top: 0; /* Align to the top */
    left: -200px; /* Start hidden off-screen */
    background-color: #f5f5f5; /* Background color */
    z-index: 1500; /* Ensure it's above other content */
    transition: left 0.3s ease; /* Smooth slide-in effect */
        
      }
    
      .active {
        left: 0; /* Only move the sidebar on-screen when active */
      }

    .toggleButton {
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .toggleButton h6 {
        margin: 0; 
        font-size: 14px; 
      }
  }


  /* Add other styles as needed */
  