/* ResetPassword.css */

.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 500px;
  margin: auto; 
}

.reset-password-container h2 {
  margin-bottom: 20px;
}

.reset-password-form {
  width: 300px;
}

.reset-password-form label {
  display: block;
  margin-bottom: 10px;
}

.reset-password-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

.reset-password-form button {
  padding: 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}

.reset-password-form button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.reset-password-form p {
  margin-top: 10px;
  color: #e74c3c;
}

/* Responsive Styles */

@media (max-width: 600px) {
  .reset-password-form {
    width: 100%; /* Adjust the width for smaller screens */
  }

  .reset-password-form input {
    margin-bottom: 10px; /* Adjust margin for smaller screens */
  }

  .reset-password-form button {
    width: 100%; /* Make the button full-width for smaller screens */
  }
}
