/* CheckoutPage.module.css */
.checkoutPageContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .billingSection, .orderSummarySection {
    width: 50%;
    padding: 20px;
  }
  
  .paymentModal{
    width: 30%;
    
  }
  /* Responsive Design */
  @media (max-width: 768px) {
    .checkoutPageContainer {
      flex-direction: column;
    }
  
    .billingSection, .orderSummarySection {
      width: 100%;
    }
  }
  