/* Base styles */
.modal {
  max-width: 90%; /* Adjust based on your preference */
  max-height: 80vh; /* Adjust based on your preference */
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
  /* Center the modal more effectively */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure it's above other content */
  /* Style as needed */
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.overlay {
  /* Cover the entire viewport */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
  z-index: 999; /* Just below the modal */
}

.header {
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 1.2rem; /* Header font size */
  font-weight: bold; /* Make the header text bold */
  margin-bottom: 20px; /* Space between header and content */
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  border-radius: 5px 5px 0 0;
  width: 50%;
  margin: 0 auto;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 2.5em; /* Increase the size */
  cursor: pointer;
  color: #000; /* Black color */
}

.content {
  overflow-y: auto; /* Enable scrolling */
  /* Set a max-height or use flex layout to ensure content area is scrollable */
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.footer {
  padding: 10px 20px;
  text-align: center;
  background-color: #f1f1f1; /* Style as needed */
  border-top: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
}

.acceptButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.acceptButton:hover {
  background-color: #45a049;
}

/* Responsive styles */
@media (max-width: 768px) {
  .modal {
    max-width: 100%; /* Adjust modal width on smaller screens */
  }

  .header {
    font-size: 1rem;
    padding: 8px 15px;
    width: 70%;
  }

  .closeButton {
    font-size: 2em;
  }

  .content {
    font-size: 0.9rem;
  }

  .footer {
    padding: 8px 15px;
  }

  .acceptButton {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .modal {
    max-width: 100%; /* Keep modal width 90% on mobile devices */
  }

  .header {
    font-size: 0.9rem;
    padding: 5px 10px;
    width: 90%;
  }

  .closeButton {
    font-size: 1.5em;
  }

  .content {
    font-size: 0.8rem;
  }

  .footer {
    padding: 5px 10px;
  }

  .acceptButton {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}
